/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
  padding-top: 2em;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
    background-image: url("assets/B6OVetv.jpg");
}
